.names {
   border: thin solid black!important;
}
.namesHeader {
   text-align: center!important;
   font-style: italic!important;
   color: Snow!important;
   background: Teal!important;
}

.header {
	width: 50px;
}


td {
	padding: 1px;
    text-align: left;
    font-family: Arial, Verdana, sans-serif;
    border: 1px solid #000; 
    width: 88px;
    hight: 19px;
}

td:nth-child(n+3):nth-last-child(n+2){
	text-align: center!important;
}

.odd {
	background: PowderBlue!important;
}

.even {
	background: MediumTurquoise!important;
}